# See http://help.github.com/ignore-files/ for more about ignoring files.

#fichiers divers:
infos_persos.txt
/client_secret/client_secret.json
/quickstart-3.2/db_config/database_connection.js
/quickstart-3.2/db_config/pool_database_connection.js

#répertoires divers:
/client_secret/client_secret-test
/bdd_mysql/backup/
/test_files

# compiled output
/dist
/dist-server
/tmp
/out-tsc

#repertoires (contenu de dépendances):
/tableaux/csv
/tableaux/xlsx

# dependencies
/node_modules



# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
