# See http://help.github.com/ignore-files/ for more about ignoring files.

#fichiers divers:
infos_persos.txt
/client_secret/client_secret.json
/quickstart-3.2/db_config/database_connection.js
/quickstart-3.2/db_config/pool_database_connection.js

#repertoires essentiels:
/bdd_mysql/backup/*.sql


#répertoires divers:
/client_secret/client_secret-test
/test_files/*
/tableaux/xlsx/*.xlsx
/tableaux/csv/*.csv

# compiled output
/dist
/dist-server
/tmp
/out-tsc


# dependencies
/node_modules


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
